body{
  background-color:rgb(243, 199, 145);
  background-image: url("https://github.com/codefellows/seattle-code-201d75/blob/main/class-08/salmon%20assets/assets/salmon.png?raw=true/200x200");
  background-size: 300px 200px;
  padding: 20px;
}
header, footer{
  border: 3px rgb(92, 46, 13) solid;
  background-color: royalblue;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.about{
  border: 3px darkblue solid;
  background-color: rosybrown;
  text-align: center;
  margin: 10px;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.one, .two{
  background-color: ;
  text-align: center;
  margin: 10px;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sales, #cookie, #order{
  border: 2px royalblue solid;
  background-color: blanchedalmond;
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  padding:10px;
  width:200px;
  height: 275px;
  align-items: center;
}

#hours, #private{
  border: 2px royalblue solid;
  background-color: blanchedalmond;
  border-radius: 20%;
  text-align: center;
  margin: 10px;
  padding:15px;
  width:300px;
  height:300px;
  align-items: center;
}
ul{
  text-align: center;
}

li{
  list-style-type: none;
  text-align: center;
}

table{
  border: 2px black solid;
}