body{
  background-color: rgba(223, 119, 35, 0.781);
  
  margin: 20px;
}
header{
  background-image:url("../img/cookie shop banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: maroon px solid;
  text-align: center;
  width: 95%%;
  height: 300px;
  padding: 10px;
  margin: 10px;
}

.one, .two{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  margin: 10px;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sales, #cookie, #order{
  border: 5px maroon solid;
  background-color:  rgb(238, 224, 203);
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  padding:10px;
  width:31%;
  height: 300px;
  align-items: center;
}

#about, #hours, #private{
  border: 5px maroon solid;
  background-color: rgb(238, 224, 203);
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  padding:15px;
  width:31%;
  height:310px;
  align-items: center;
}
table{
  background-color: rgb(238, 224, 203);
  margin: 30px;
  padding: 15px;
}
form{
  background-color:  rgb(238, 224, 203);
  font-family: 'Barlow', sans-serif;
  margin: 30px;
  padding: 15px;
  border: 2px rgb(92, 46, 13) solid;
}
ul{
  text-align: center;
}

li{
  list-style-type: none;
  text-align: center;
  font-family: 'Barlow', sans-serif;

}

table{
  border: 2px black solid;
  font-family: 'Barlow', sans-serif;
}
footer{
  border: 5px rgb(92, 46, 13) solid;
  background-color:rgb(238, 224, 203);
  font-family: 'Barlow', sans-serif;
  text-align: center;
  padding: 10px;
  margin: 10px;

p{
 
}